name: gsk job
#trigger point
on: 
  push:
    branches: [ "main" ]  
    paths-ignore:
      - "README.md"
      - "terraform.tfstate"

# creating jobs 
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps: 
    #calling first github action to clone my git repo dryrun to runner machine
    - name: taking code from my repo
      uses: actions/checkout@v5
      with:
        ref: main

    - name: installing terraform
      uses: hashicorp/setup-terraform@v3

    - name: my first step to test github action
      run: |
           echo "Hello WOrld"
           git version
           whoami
           ls -a
           terraform version  
    # configure AWS creds  
    - name: connecting to AWS
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2

    - name: verify aws connection 
      run: |
        echo "checking with command"
        aws s3 ls 

